<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Eventbrite A, <%= @user.email %>!</h1>
    <p>Merci de vous être inscrit. Nous sommes ravis de vous compter parmi nous.</p>
  </body>
</html>