<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/bootswatch.css">
<link rel="stylesheet" href="css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>
<body>
  
</body>
<!-- Footer -->
<!-- <footer class="bg-dark text-white text-center py-3"> -->
<!--     <p>&copy; 2023 Eventbrite. Tous droits réservés.</p> -->
  <footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2023 Eventbrite. Tous droits réservés.</p>
    <a href="#" class="text-white">Mentions légales</a> | <a href="#" class="text-white">Contact</a>
    <a href="#" class="text-white">Politique de confidentialité</a>
  </footer>
</footer>

</html>